  <section class="main">
<h1><%= @document.title %></h1>
<br><br>
<%= @version.content %>
<a href="<%=@document.title.gsub(" ", "_")%>/edit">Edit</a>

<a href="<%=@document.title.gsub(" ", "_")%>/versions">See_versions</a>
  </section>
