  <section class="main">
<h2>Login Below or <a href="<%=@url%>">Authenticate With Google</a></h2>
<form method="POST" action="/session">
  <label for="name">Enter Email</label>
  <input type="text" name="email" id="name" /><br/>
  <label for="password">Enter Password</label>
  <input type="password" name="password" id="password"/><br/>
  <input type="submit" value="Login" />
</form>
  </section>
