  <section class="main" >
  <section class="box" id="random_article">
    <h2 class="section_title"> Random Article </h2>
  <section class="document_display">
    <h1><%= @document.title %></h1>
    <%= @version.content %>
    <p>Last edit made by:
        <span class="cursive"><%= @last_edit.name%></span>
    </p>
  </section>
</section>
