
body {
  background-color: rgba(255,255,255,.5);
  font-family: 'News Cycle', sans-serif;
}

h1,h2{
  font-family: 'Doppio One', sans-serif;
}

h3,h4{
font-family: 'Maven Pro', sans-serif;
}

p {
  font-family: 'News Cycle', sans-serif;
}

strong{
  font-family: 'News Cycle', sans-serif;
  font-weight: 700;
}
code{
   font-family: 'News Cycle', sans-serif;
}

.cursive {
  font-family: 'Short Stack', cursive;
}
#page_title {
  position: fixed;
  text-align: left;
  margin-left: 20px;
  margin-top: -90px;
}

#page_title a {
  text-decoration: none;
  font-size: 35px;
  color: black;
}

#page_title a:hover {
  text-decoration: none;
   color: rgba(180, 62, 106, 1);
}
.header {
  position: fixed;
  top:0;
  left:0;
}
#blackBar{
  width:100%;
  height:50px;
  background-color: black;
  margin-bottom: 10px;
  margin-top: -5px;

}


nav{
  position: fixed;
  width: 200px;
  height: 100%;
  display: inline;
  margin: 0px;
  padding: 0;
  margin-right: 10px;
  text-align: center;

}

nav h3 {
  margin-top: -5px;
}

nav ul {
  list-style-type: none;
  -webkit-column-count: 2;
  margin-left: -25px;
  margin-top: -10px;
  font-family: 'Short Stack', cursive;
  font-size: 14px;
  text-align: center;
}

a {
  color: rgba(180, 62, 106, 1);
}

a:hover
{
  color: rgba(200,200,200,1);
}


.main {
  margin-left: 210px;
  margin-top: 200px;
  padding: 0;
  margin-bottom: 100px;
}

.header_link
{
 display: inline-block;
 width: 110px;
 padding: 5px;
 text-align: center;
 color: white;
 text-decoration: none;
 height: 20px;
 font-size: 15px;

}


.header_link:hover
{
  background: rgba(180, 62, 106, 1);
}

#top_nav li
{
  float:right;
  margin-top: 15px;
  list-style-type: none;
}


.header_search {
    width: 250px;
    padding: 5px;
    margin-top: -5px;
    overflow: hidden;
    position: relative;

}

.header_search #search {
    width: 200px;
    float: left;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.header_search #submit:hover {
    background-color: #31b2c3;
   }

.button {
  position:relative;
  padding:2px 10px;
  left:-37px;
  top: -2px;
  border:2px solid rgba(0,0,0,1);
  background-color: rgba(255,255,255,1);
  color: rgba(0,0,0,1);
  border-radius: 30px;
}
.button:hover  {
  background-color: rgba(180, 62, 106, 1);
  color:rgba(255,255,255,1);
  border:2px solid rgba(226,253,219,1);
}

.box {
  border:2px solid black;
  text-align: center;
  width: 80%;
  margin-top: 20px;
}

.section_title {
  background-color: black;
  margin: 0;
  color: white;
  padding: 15px;
}

.tiny_font {
  font-size: 12px;
}



.document_display {
  width: 80%;
  text-align: left;
  float: none;
  margin-left: 20px;
  padding: 20px;
  padding-top: 5px;
}


.document_display h1 {
  border-bottom: 5px double black;
  padding-bottom: 6px;
  text-align: center;
}

textarea {
  height: 200px;
  width: 90%;

}

.submit_button {
  background-color:rgba(180, 62, 106, 1);
  color:rgba(255,255,255,1);
  font-size:18px;
  line-height:30px;
  border-radius:20px;
  border:0;
  width:80px;
  height:32px;
}

.submit_button:hover {
  background-color:rgba(5,5,5,.4);
}

.doc_input_form {
    margin-left: 50px;
    margin-top: 200px;
    margin-bottom: 100px;
}

#edit_buttons li{
  float: left;
  list-style-type: none;
  margin: 5px;
}

#search_error {
  color: red;
  margin-left: 20px;
}

.diff{overflow:auto;}
.diff ul{background:#fff;overflow:auto;font-size:14px;list-style:none;margin:0;padding:0;display:table;width:100%;}
.diff del, .diff ins{display:block;text-decoration:none;}
.diff li{padding:0; display:table-row;margin: 0;height:1em;}
.diff li.ins{background:#dfd; color:#080}
.diff li.del{background:#fee; color:#b00}
.diff li:hover{background:#ffc}
.diff del, .diff ins, .diff span{white-space:pre-wrap;}
.diff del strong{font-weight:normal;background:#fcc;}
.diff ins strong{font-weight:normal;background:#9f9;}
.diff li.diff-comment { display: none; }
.diff li.diff-block-info { background: none repeat scroll 0 0 gray; }

#edit_permission, #versions {
  width:120px;
}

#edit_permission {
  font-size: 14px;
}

#tag_list {
  -webkit-column-count: 4;
  column-count: 4;
}
.tags_indoc_list {
  padding-right: 15px;
  font-size: 22px;
  display: inline-block;
  font-family: 'Short Stack', cursive;
}
