  <section class="main">
<% if @user.admin %>
<ul>
  <% @users.each do |user| %>
    <li><%=user.name%></li>
  <% end %>
</ul>
<% else %>
<p> you are not authorized to view this page </p>
<% end %>
  </section>
