  <section class="main">
<% @versions.each do |version| %>
  <a href="/versions/<%=@document.title.gsub(" ", "_")%>/<%=version.id %>/show">Version: <%= version.created_at %></a><br>
<% end %>
  <section class="main">
