<section class="doc_input_form">
    <form action="/versions" method="post">
      <input type="hidden" name="document_id" value="<%= @document.id%>" />
        <h3>You are editing: <%= @document.title%></h3>
        <br><br>
        <label for="content">Please make sure you are using Markdown when inputing document contents</label><br>
        <textarea required name="content" id="content"><%=ReverseMarkdown.convert @version.content%></textarea><br>
        <br>
      <input class="submit_button" type="submit">
  </form>
</section>
